<!DOCTYPE html>
{% if site.lang %}<html lang="{{ site.lang }}">{% else %}<html>{% endif %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{ site.author }}">
    <link type="text/plain" rel="author" href="{{ site.baseurl }}/humans.txt" />
    <title>{% if page.title %}{{ page.title }} - {% elsif post.title %}{{ post.title }} - {% endif %}{{ site.title }}</title>
    {% capture description %}
    {% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}
    {% endcapture %}
    <meta name="description" content="{{ description }}">
    {% if page.keywords %}
    <meta name="keywords" content="{{ keywords }}">{% endif %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ site.baseurl }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/assets/css/stylish-portfolio.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    {% include header.html %}

    {{ content }}

    <!-- Footer -->
    {% include footer.html %}
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="{{ site.baseurl }}/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="{{ site.baseurl }}/assets/js/stylish-portfolio.min.js"></script>
    {% include google_analytics.html %}
</body>

</html>